<footer id="footer-register">
    <section id="footer-abajo-r">
            <div class="footer-logo-r">
                <img src="/img/LogoBlanco.png" alt="logo">
            </div>
                <div class="texto-copyright-r">
                    © Copyright - 2021 - 2022 www.sneakers.com.ar, TODOS LOS DERECHOS RESERVADOS. Las fotos
                    contenidas en
                    este site, el logotipo y las marcas son propiedad de Sneakers© y/o de sus respectivos
                    titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización de la
                    administradora de la tienda virtual. Grupo4-DigitalHouse.
                </div>
    </section>
    </div>
</footer>