<footer>
    <div class="footer-main">
        <section class="footer-left">
            <div class="logo">
                <img src="/img/LogoBlanco.png" alt="">
              </div>
        </section>
        <section class="footer-center">
            <div class="footer-info">
        
                <a href="#"><p> Sobre nosotros </p></a>
               <div class="info-extra"> 
                   <p>¿Quienes Somos?</p>
               </div>
               <div class="info-extra"> 
                <p>Terminos y condiciones</p>
            </div>
            <div class="info-extra"> 
                <p>¿Como cuidamos tu privacidad?</p>
            </div>
            </div>
            <div class="footer-info">
              
                <a href="#"><p> Ayuda </p></a>
                <div class="info-extra"> 
                    <p>Configuracion de mi cuenta</p>
                </div>
                <div class="info-extra"> 
                 <p>Preguntas frecuentes</p>
             </div>
             <div class="info-extra"> 
                 <p>Cambios y/o devoluciones</p>
             </div>
            </div>
            <div class="footer-info">
                <a href="#"><p> Atención al cliente </p></a>
                <div class="info-extra"> 
                    <p>Denuncias</p>
                </div>
                <div class="info-extra"> 
                 <p>Avisos legales</p>
             </div>
             <div class="info-extra"> 
                 <p>Seguridad</p>
             </div>
            </div>

        </section>
        <section class="footer-right">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>

        </section>


    </div>

</footer>