    <header>
        <nav class="navbar">
        <nav class="navbar-top">
            <div class="icono_burgerMenu">
                <i class="fas fa-bars"></i>
              </div>
              <div class="logo">
               <a href="/"><img src="/img/products/LogoBlanco.png" alt=""></a>
              </div>
              <div class="iconos-carrito-perfil">
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-solid fa-user"></i></a>
              </div>
        </nav>
        <nav class="navbar-bottom">
        <div class="barra-de-busqueda">
            <div class="barra-de-busqueda">
                <i class="fa-solid fa-magnifying-glass"></i><input type="search" placeholder="Buscar productos..."/>                
        </div>
        </nav>
    </nav>
    </header>