<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> 

<body>

    <!----- Header ------>

    <%- include ('partials/header') %>

    <main class="main-editProduct">
        <div class="contenedor-principal-editProduct">
            <form method="POST" action="/createProduct" enctype="multipart/form-data">
            <fieldset class="fieldset-editProduct" >
                <legend class="legend-editProduct">Crear Producto</legend>
                <div>
                    <div class="formulario-general-editProduct">
                        <p>*Nombre del Producto</p>
                        <input type="text" name="product_name" class="barra-espacios-editProduct">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Precio</p>
                        <input type="number" name="product_price" class="barra-espacios-editProduct">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Descuento</p>
                        <input type="number" name="product_discount" class="barra-espacios-editProduct" value="0">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Descripcion</p>
                        <textarea name="product_description" class="descripcion-editProduct" rows="5" cols="100"></textarea>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Imagen del Producto</p>
                        <input type="file" name="product_image" accept=".jpg, .png">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Categoria</p>
                        <div class="control-radio-editProduct">
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="product_category"
                                    value="hombre">Hombre</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="product_category"
                                    value="mujer">Mujer</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="product_category"
                                    value="unisex">Unisex</input></div>
                        </div>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Marca</p>
                        <select name="product_brand" class="control-selector-editProduct">
                            <option>Seleccionar</option>
                            <option value="1">Nike</option>
                            <option value="2">Adidas</option>
                        </select>
                    </div>
                    <div class="formulario-checkbox-editProduct">
                        <div>
                            <p>*Talles</p>
                        </div>
                        <div class="checkbox-editProduct">
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="35">35</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="36">36</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="37">37</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="38">38</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="39">39</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="40">40</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="41">41</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="42">42</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="43">43</label>
                        </div>
                        <div class="boton-editProduct">
                            <button type="reset" class="boton-crear-editProduct">Borrar</button>
                            <button type="submit" class="boton-crear-editProduct">Guardar</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        </div>

    </main>

    <!----- Footer ------>

    <%- include ('partials/footer') %>

</body>

</html>