<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> 

<body>

    <!----- Header ------>

    <%- include ('partials/header') %>

    <main class="main-editProduct">
        <div class="contenedor-principal-editProduct">
            <fieldset class="fieldset-editProduct">
                <legend class="legend-editProduct">Crear Producto</legend>
                <div>
                    <div class="formulario-general-editProduct">
                        <p>*Nombre del Producto</p>
                        <input type="text" name="detalleProducto" class="barra-espacios-editProduct">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Precio</p>
                        <input type="number" name="precioProducto" class="barra-espacios-editProduct">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Descripcion</p>
                        <textarea name="descripcionProducto" class="descripcion-editProduct" rows="5" cols="100"></textarea>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Imagen del Producto</p>
                        <input type="file" name="imagen" accept=".jpg, .png">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Categoria</p>
                        <div class="control-radio-editProduct">
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="categoria-modelo"
                                    value="hombre">Hombre</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="categoria-modelo"
                                    value="mujer">Mujer</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="categoria-modelo"
                                    value="unisex">Unisex</input></div>
                        </div>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Marca</p>
                        <select name="marca" class="control-selector-editProduct">
                            <option>Seleccionar</option>
                            <option value="1">Nike</option>
                            <option value="2">Adidas</option>
                        </select>
                    </div>
                    <div class="formulario-checkbox-editProduct">
                        <div>
                            <p>*Talles</p>
                        </div>
                        <div class="checkbox-editProduct">
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="35">35</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="36">36</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="37">37</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="38">38</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="39">39</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="40">40</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="41">41</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="42">42</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="talle" value="43">43</label>
                        </div>
                        <div class="boton-editProduct">
                            <a href="#" class="boton-crear-editProduct">Crear item</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </main>

    <!----- Footer ------>

    <%- include ('partials/footer') %>

</body>

</html>