<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script src="https://kit.fontawesome.com/6057857b79.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <title>Logeate</title>
</head>

<body>
    <!--<header>
        <section id="top-bar">
            <div id="burger-menu"><i class="fas fa-bars"></i></div>
            <img id="logo" src="/img/LogoBlanco.png" alt="logo">
        </section>
        <section id="low-bar">
            <h3>¡Bienvenido!</h3>
            <pc class="subtitulo-frase">Usa tu usuario y contraseña Sneakers para ingresar</pc>
        </section>
    </header>-->
    <header>
        <nav class="navbar">
            <nav class="navbar-top">
                <div class="icono_burgerMenu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="logo">
                    <a href="/"><img src="/img/LogoBlanco.png" alt=""></a>
                </div>
                <div class="iconos-carrito-perfil">
                    <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
            </nav>
            <nav class="navbar-bottom">
                <div class="barra-de-busqueda">
                    <div class="barra-de-busqueda">
                        <i class="fa-solid fa-magnifying-glass"></i><input type="search"
                            placeholder="Buscar productos..." />
                    </div>
            </nav>
        </nav>
    </header>
    <main>
        <div id="contenedor-principal">
            <h3 class="login-title">Iniciar Sesion</h3>
            <div id="contenedor-formulario">
                <div class="login-register">
                    <h2 class="titular-sesion-l">Iniciar Sesion</h2>
                    <h2 class="titular-sesion-r">Registrate</h2>
                </div>
                <div id="login-formulario">
                    <div class="formulario-email">
                        <p>* Email</p>
                        <input type="email" name="email-usuario" class="barra-espacios" placeholder="ejemplo@email.com">
                    </div>
                    <div class="formulario-email">
                        <p>* Contraseña</p>
                        <input type="password" name="password-usuario" class="barra-espacios" placeholder="*********">
                    </div>
                    <div class="display-linea">
                        <div class="checkbox-u"><label><input type="checkbox" name="recordar-usuario">Recordarme</label>
                        </div>
                        <a href="#" class="olvidar-contraseña">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div><button type="submit" class="boton-login">Iniciar Sesion</button>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer id="footer-register">
        <section id="footer-arriba-r">
            <div class="footer-info-r">
            <div>
                <a href="#" class="control-info-r"><p> Sobre nosotros </p></a>
            </div>
            <div>
                <a href="#" class="control-info-r"><p> Ayuda </p></a>
            </div>
            <div>
                <a href="#" class="control-info-r"><p> Atención al cliente </p></a>
            </div>
        </div>
        <div class="footer-redes-r">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
        </div>
        </section>
        <hr class="linea-separadora-r">
        <section id="footer-abajo-r">
                <div class="footer-logo-r">
                    <img src="/img/LogoBlanco.png" alt="logo">
                </div>
                    <div class="texto-copyright-r">
                        © Copyright - 2021 - 2022 www.sneakers.com.ar, TODOS LOS DERECHOS RESERVADOS. Las fotos
                        contenidas en
                        este site, el logotipo y las marcas son propiedad de Sneakers© y/o de sus respectivos
                        titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización de la
                        administradora de la tienda virtual. Grupo4-DigitalHouse.
                    </div>
        </section>
        </div>
    </footer>
</body>

</html>

