<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script src="https://kit.fontawesome.com/6057857b79.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <title>Logeate</title>
</head>

<body>
    <!--<header>
        <section id="top-bar">
            <div id="burger-menu"><i class="fas fa-bars"></i></div>
            <img id="logo" src="/img/LogoBlanco.png" alt="logo">
        </section>
        <section id="low-bar">
            <h3>¡Bienvenido!</h3>
            <pc class="subtitulo-frase">Usa tu usuario y contrasenia Sneakers para ingresar</pc>
        </section>
    </header>-->
    <header>
        <nav class="navbar">
        <nav class="navbar-top">
            <div class="icono_burgerMenu">
                <i class="fas fa-bars"></i>
              </div>
              <div class="logo">
               <a href="/"><img src="/img/LogoBlanco.png" alt=""></a>
              </div>
              <div class="iconos-carrito-perfil">
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-solid fa-user"></i></a>
              </div>
        </nav>
        <nav class="navbar-bottom">
        <div class="barra-de-busqueda">
            <div class="barra-de-busqueda">
                <i class="fa-solid fa-magnifying-glass"></i><input type="search" placeholder="Buscar productos..."/>                
        </div>
        </nav>
    </nav>
    </header>
    <main>
        <div id="contenedor-principal">
            <h3 class="login-title">Iniciar Sesion</h3>
            <div id="contenedor-formulario">
                <div class="login-register">
                    <h2 class="titular-sesion-l">Iniciar Sesion</h2>
                    <h2 class="titular-sesion-r">Registrate</h2>
                </div>
                <div id="login-formulario">
                    <div class="formulario-email">
                        <p>* Email</p>
                        <input type="email" name="email-usuario" class="barra-espacios" placeholder="ejemplo@email.com">
                    </div>
                    <div class="formulario-email">
                        <p>* Contrasenia</p>
                        <input type="password" name="password-usuario" class="barra-espacios" placeholder="*********">
                    </div>
                    <div class="display-linea">
                        <div class="checkbox-u"><label><input type="checkbox" name="recordar-usuario">Recordarme</label>
                        </div>
                        <a href="#" class="olvidar-contrasenia">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div><button type="submit" class="boton-login">Iniciar Sesion</button>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <footer>
            <div class="footer-main">
                <section class="footer-left">
                    <div class="logo">
                        <img src="/img/LogoBlanco.png" alt="">
                      </div>
                </section>
                <section class="footer-center">
                    <div class="footer-info">
                
                        <a href="#"><p> Sobre nosotros </p></a>
                       
                    </div>
                    <div class="footer-info">
                      
                        <a href="#"><p> Ayuda </p></a>
                        
                    </div>
                    <div class="footer-info">
                        <a href="#"><p> Atención al cliente </p></a>
                    </div>
    
                </section>
                <section class="footer-right">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-square"></i>
                    <i class="fa-brands fa-twitter-square"></i>
    
                </section>
    
    
            </div>
    
        </footer>
    </footer>
</body>

</html>