<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productCart.css" /> <!--agregado para que likee a la pág de estilos del carrito-->
    <link rel="stylesheet" href="/css/normalize.css" />
    

    <script src="https://kit.fontawesome.com/6057857b79.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    
    <title>Product Cart</title>
</head>
<body>
    <header>
        <nav class="navbar">
        <nav class="navbar-top">
            <div class="icono_burgerMenu">
                <i class="fas fa-bars"></i>
              </div>
              <div class="logo">
                <img src="/img/LogoBlanco.png" alt="">
              </div>
              <div class="iconos-carrito-perfil">
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
              </div>
        </nav>
        <nav class="navbar-bottom">
        <div class="barra-de-busqueda">
            <div class="barra-de-busqueda">
                <input type="search" placeholder="Buscar productos"/><span><i class="fa-solid fa-magnifying-glass"></i></span>
                  
        </div>
        </nav>
    </nav>
    
    </header>

    <main>
        <div class="banner-carrusel">
            <img src="/img/banner-carrusel-ejemplo.jpg" alt="">
        </div>
        <div class="contenedor-gral">
            <div class="contenedor-titular">
                 <h1>Carrito de compras</h1>
            </div>
            
            <div class="contenedor-productos">
                
                <article><!--Producto-->
                    <div class="bloqueProducto">
                        <div class="linea"">  <!-- linea horizontal-->
                            <hr>
                        </div>
                        <div class="bloqueSuperiorProducto">
                            <div class="foto"><!--bloque foto-->
                                <img class="foto-producto" src="/img/NikeEjemplo.jpeg" alt="Producto1">
                            </div>
                            
                            <div class="descripcion"><!--bloque descripción-->
                                <div class="modelo">Modelo Nike Air
                                </div>
                                <div class="color">Color: Negro
                                </div>
                                <div class="talle">Talle: 42
                                </div>
                                </div>
                            <div class="cantidad" ><!--bloque cantidad-->
                                <div class="cantidadtexto">Cantidad:
                                </div>
                                    <!--BOTÓN CANTIDAD-->
                                <div class="input-group plus-minus-input">
                                        <input class="input-group-field" type="number" name="quantity" value="0" width=10px >
                                </div>     
                            </div>
                            <div class="precio"><!--bloque precio-->
                                $1000
                            </div>
                            
                        </div>
                        <div class="bloqueInferiorProducto"><!--bloque precio-->
                            <a href="#">Eliminar</a>
                            <a href="#">Modificar</a>
                            <a href="#">Ver otros artículos del vendedor</a>
                        </div>
                    </div>
                   
                </article>


                <article><!--Producto-->
                    <div class="bloqueProducto">
                        <div class="linea">  <!-- linea horizontal-->
                            <hr>
                        </div>
                        <div class="bloqueSuperiorProducto">
                            <div class="foto"><!--bloque foto-->
                                <img class="foto-producto" src="/img/NikeEjemplo.jpeg" alt="Producto1">
                            </div>
                            
                            <div class="descripcion"><!--bloque descripción-->
                                <div class="modelo">Modelo Nike Air
                                </div>
                                <div class="color">Color: Negro
                                </div>
                                <div class="talle">Talle: 42
                                </div>
                                </div>
                            <div class="cantidad" ><!--bloque cantidad-->
                                <div class="cantidadtexto">Cantidad:
                                </div>
                                    <!--BOTÓN CANTIDAD-->
                                <div class="input-group plus-minus-input">
                                        <input class="input-group-field" type="number" name="quantity" value="0" width=10px >
                                </div>     
                            </div>
                            <div class="precio"><!--bloque precio-->
                                $1000
                            </div>
                            
                        </div>
                        <div class="bloqueInferiorProducto"><!--bloque precio-->
                            <a href="#">Eliminar</a>
                            <a href="#">Modificar</a>
                            <a href="#">Ver otros artículos del vendedor</a>
                        </div>
                    </div>
                   
                </article>
            </div>
        </div>  
        





    </main>
    
</body>
</html>



