<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" /> 
    <link rel="stylesheet" href="/css/normalize.css" />
    <script src="https://kit.fontawesome.com/6057857b79.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Detalle Producto</title>
</head>
<body>
  <header>
    <div class="top-header">
        <div class="logo">
        <a href="/"><img src="/img/LogoBlanco.png" alt="LogoNegro"></a>
    </div>
        <div class="box">
            <div class="form" action="#" method="GET">
                <input type="search" id="search" placeholder="Buscar productos, marcas" />
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>
        </div>
      <nav class="link">
        <ul>
            <li><a href="/profile">Mi Perfil<i class="fa-solid fa-user"></i></a></li>
            <li><a href="/likes">Me Gusta<i class="fa-solid fa-heart"></i></a></li>
            <li><a href="/cart">Mi Carrito<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </nav>
      <div class="filters">
        <ul>
            <li><a href="#">FILTRO</a></li>
            <li><a href="#">FILTRO</a></li>
            <li><a href="#">FILTRO</a></li>
        </ul>   
      </div>
  </header>
<main class="container">
<p>FILTRO/FILTRO/FILTRO</p>
<br>
<div class="Product">
<article class="card">
<img src="/img/NikeEjemplo.jpeg" alt="ProductDetail">
<div class="Main-article">
<p class="Name">Modelo Nike</p>
<p class="Price">$120.000</p>
<p class="text-top">Talle</p>
<p class="size">36</p>
<p class="size">37</p>
<p class="size">38</p>
</div>
</article>
</div>



</main>
</body>