<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-productCart.css" /> <!--agregado para que likee a la pág de estilos del carrito-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="titular-carrito">Carrito de compras</h1>
        <hr><!-- linea horizontal-->
        <article><!--Producto-->
            <div class="bloqueProducto"><!--bloque foto-->
                Aquí va la foto del producto
            </div>
            <div class="bloqueProducto"><!--bloque descripción-->
                aquí va la descripción del producto, el color y el talle
            </div>
            <div class="bloqueProducto"><!--bloque cantidad-->
                aquí va el selector de cantidad
            </div>
            <div class="bloqueProducto"><!--bloque precio-->
                aquí va el precio
            </div>
            <div class="bloqueInferior"><!--bloque precio-->
                aquí van los botones "eliminar" "modificar" "Ver otros articulo del vendedor"
            </div>

        </article>

    



    </header>
    
</body>
</html>



