<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs') %> 

    <!-- BODY -->

    <body class="indexBody">

    <%- include ('partials/header') %> 

<!-- COMIENZO MAIN -->

    <main class="indexMain">
<h1>Hola <%= logueado.first_name %> </h1>
    </main>

    <!-- FOOTER -->
    <%- include ('partials/footer') %> 

</body>
</html>