
.main-editProduct {
    width: 100%;
    background-color: lightpink;
    padding: 20px 20px;
}

.fieldset-editProduct {
    margin: 25px 0px;
    background-color: pink;
    max-width: 900px;
    text-align: center;
    color: #000000;
    box-shadow: 5px 5px 17px 5px rgb(0 0 0 / 76%);
    border: 2px solid rgb(120,0,46);
}

.legend-editProduct{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}

.contenedor-principal-editProduct {
    background-color: white;
    /* background-image: url(../img/copia.png); */
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-general-editProduct,
.formulario-checkbox-editProduct {
    margin: 10px;
}

.formulario-general-editProduct p {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.formulario-checkbox-editProduct p {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}


.barra-espacios-editProduct {
    padding: 5px 10px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.control-selector-editProduct {
    font-size: 16px;
    width: 50%;
    display: flex;
}

.descripcion-editProduct {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}

.formulario-checkbox-editProduct {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input.imagenes-editProduct{
    display:flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.checkbox-editProduct {
    display: flex;
    justify-content: space-evenly;
}

.checkbox-editProduct label {
    margin: 0px 5px;
}

.control-checkbox-editProduct input {
    margin-right: 5px;
}

.control-radio-editProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.control-radio-editProduct input {
    margin-right: 5px;
}

.radio-editProduct{
    display: flex;
    margin: 0px 15px;
    font-size: 16px;
}
.boton-editProduct {
    display: flex;
    justify-content: center;
    margin: 30px 0px 15px 0px;
}

.boton-crear-editProduct {
    box-shadow: inset 0px 6px 9px 0px #ad1456;
    background-color: #e35184;
    border-radius: 14px;
    border: 2px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 37px;
    text-decoration: none;
}

.boton-crear-editProduct:hover {
    background-color: #ad1456;
}

.boton-crear-editProduct:active {
    position: relative;
    top: 1px;
}

.boton-borrar-editProduct {
    box-shadow: inset 0px 3px 9px 0px black;
    background-color: red;
    border-radius: 14px;
    border: 2px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 37px;
    text-decoration: none;
}


/************************Media Queries************************/
/**Tablet**/

@media (min-width:426px){

    .formulario-general-editProduct p{
        font-size: 16px;
    }
    .formulario-checkbox-editProduct p{
        font-size: 16px;
    }
}
/**Escritorio**/

@media (min-width:1024px){
}