/* GENERALES */
.indexBody{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
}

.banner-carrusel {
    max-width: 100%;
}

.banner-carrusel img{
  width: 100vw;
}

/*MAIN*/

.indexMain{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indexMain h2{
    font-size: 16px;
    display: flex;
    justify-content: center;
    color:#AD1457;
    font-weight: bolder;
    margin: 15px
}
.wallpaper-section{
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:space-evenly;
    
   
}

.indexMain .indexDestacados{
    margin: 10px 20px ;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    
   
}

.p-discount {
    color: green;
    font-weight: bolder;
}

.wallpaper-article{
    margin: 15px 0;
    width: 45%;
    display: flex;
}

.wallpaper{
width: 100%;
display: flex;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.wallpaper img {
    width:100%
}

.articleIndex{
    width: 30%;
    display: flex;
}
.productIndex {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 10px 0;
}

.productIndex img {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    
}

.product-detail-Index{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

.product-detail-Index p{
    text-align: center;
    margin-bottom: 10px;
}

.product-price-Index {
    color:#AD1457;
}
