.mainLogin{
    background-color: #ffc69c;
    background-image: url(../img/fondo-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*********** MAIN ***********/


#contenedor-principal-login {
    max-width: 700px;
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    background-color: white;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

#login-formulario {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.titular-sesion-r {
    font-size: 15px;
    padding: 15px 25px;
    border-bottom: solid 2px #AD1457;
    text-align: center;
    background-color: #AD1457;
}

.titular-sesion-l {
    font-size: 15px;
    padding: 15px 25px;
    border-bottom: solid 2px #AD1457;
    text-align: center;
}

.login-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#login-formulario p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.login-register {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.login-register a{
    text-decoration: none;
    color: black;
}

.barra-espacios {
    padding: 5px 10px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
}

.formulario-email-login p {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.checkbox-u {
    text-align: center;
    font-size: 16px;
    margin: 10px 0px;
}

.checkbox-u input {
    border-radius: 2px;
    margin-right: 5px;
}

.display-linea-login label {
    font-size: 15px;
}

.olvidar-contraseña {
    font-size: 14px;
    text-align: center;
    margin: 10px 0px;
    padding: 15px 10px;
    color: black;
    text-decoration: underline;
}

.boton-login {
    background-color: #e35184;
    border-radius: 15px;
    padding: auto;
    width: 55%;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 23px;
    text-decoration: none;
    margin-top: 5px;
}

.boton-login:hover {
    background-color: #78002E;
}

.boton-login:active {
    position: relative;
    top: 1px;
}

.login-register h2{
    text-align: center;
    justify-content: center;
}

/*********** FOOTER ************/

footer#footer-register {
    width: 100%;
    bottom: 0;
    height: auto;
    flex-direction: column;
}

.linea-separadora-r {
    width: 80%;
    color: white;
    margin: 10px 0px;
}

#footer-abajo-r {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    text-align: left;
    bottom: 0px;
    padding: 5px 0px;
}

.footer-logo-r {
    display: none;
    justify-content: center;
    width: 30%;
}

.footer-logo-r img {
    width: 20vw;
    max-width: 300px;
}

.texto-copyright-r {
    color: white;
    text-align: center;
    display: block;
    font-size: 12px;
    padding: 0px 25px;
}

#footer-arriba-r{
    display: flex;
    flex-direction: column;
}

.footer-info-r{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
}

.control-info-r{
    color: white;
    text-decoration: none;
}

.control-info-r p{
    font-size: 16px;
    margin: 5px 0px;
}

.footer-redes-r{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #e35183;
    width: 100%;
}

.footer-redes-r i{
    font-size: 30px;
    color: #e35183;
    margin: 0px 10px;
}



/********************* R E G I S T E R *********************/

.formulario-general-login p {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0px;
}


.nombre-completo-register,
.password-completo-register,
.formulario-otros-register {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

.control-calendario-login {
    font-size: 14px;
    width: 80%;
}

.control-selector-login {
    align-content: left;
    font-size: 16px;
    width: 50%;
}

/************************Media Queries************************/
/**Tablet**/

@media (min-width:426px) {

    .formulario-otros-register {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .formulario-general-login {
        width: 45%;
    }

    .nombre-completo-register {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .login-register {
        flex-direction: row;
        justify-content: center;
    }

    .password-completo-register {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mainLogin {
        padding: 130px 0px;
    }

    #contenedor-principal-login {
        border: #78002E 2px solid;
        width: 80%;
        text-align: center;
        padding: auto;
        margin: 0px auto 0px auto;
        box-shadow: 5px 5px 17px 5px rgba(0,0,0,0.76);
    }

    .formulario-email-login {
        width: 100%;
    }

    #login-formulario {
        text-align: center;
    }

    div#login-formulario {
        text-align: center;
    }

    .display-linea-login {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /**Register*/
    
    footer#footer-register{
        height: 200px;
    }

    .footer-logo-r {
        display: flex;
        width: 30%;
    }

    .texto-copyright-r {
        width: 60%;
        font-size: 13px;
        padding: 0px;
    }

    .texto-copyright-r {
        display: flex;
        justify-content: flex-end;
    }

    #footer-arriba-r{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        max-width: 700px;
    }

    .footer-redes-r{
        width: 15%;
    }

    .footer-info-r{
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
    }

}
    /**Escritorio**/

    @media (min-width:1200px) {
        
        .texto-copyright-r {
            font-size: 15px;
        }
    }