/** main**/

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main p{
    margin-top: 10px;
}
.card {
        box-sizing: border-box;
        margin: 12px;
}

.card img{
    width: 40%;
    overflow: hidden;
}

p.text-top{
    font-size: 14px;
    border-bottom: solid 1px grey;
}

p.size{
    font-size: 14px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    width: 30%;
}