



/*CARRITO*/

/*.banner-carrusel{
    margin: 10px 0 10px 0;
}*/

p {
    font-size: 1.8vh;
}
main
 .contenedor-gral{ /*= contenedor gral del body*/
    display: flex;
    flex-direction: column;
}


main
 .contenedor-gral
    .contenedor-titular { /*contenedor del título*/
    font-size: 4vw;
    color: rgb(71, 71, 71);
    text-align: center;
    padding: 3vw;   
}
main


main
 .contenedor-gral
    .contenedor-productos{
    display:flex ;
    justify-content: center;
    text-align: center;
}


main
 .contenedor-gral
    .contenedor-productos
        .bloqueProducto {   /* = contenedor de cada producto */
    display: flex;    
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin:auto;
    /*border: 1px dashed blue;*/
}

main
 .contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .linea{ /*= linea horizontal*/
    width: 90%;
    margin:0px 20px 0px 20px
}

main
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto{    /* =subdivisión de cada bloque de producto*/
    width: 100%;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-left: 8%;*/
    /*border: 1px dashed violet;*/
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .foto{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    width: 40%;
                    margin: 20px 5px 0 5px;
                }
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .foto
                    .foto-producto{
    display: flex;
    margin-top: 10%;
    text-align : center;
    justify-content: center;
    max-width: 70%;
    max-height: 70%;
    padding: 0, 0px, 0, 0px;

}
main
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion{    /* =descripción del producto*/
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 20% ;
    justify-content: space-around;
    text-align: left;    
    padding: 10% 1.5% 10% 1.5%     ; 
    /*border: 1px dashed rgb(0, 106, 255);*/
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .modelo{
    margin-bottom: 10px;
    font-weight: bolder ;
    font-size: 90%;
    color:rgb(71, 71, 71)
    
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .color p{ 
    color:rgb(71, 71, 71)   ;
    font-size: 9px;
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .talle p{   
    color:rgb(71, 71, 71) ;
    font-size: 9px;
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .columnaCantidad{
    display : flex ;
    width: 20%;
    flex-direction: column;
    padding: 30%, 0, 30%, 0;
}

.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .cantidad{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
       
    padding:  62% 1.5% 2% 0%;
    
    /*border: 1px dashed rgb(255, 187, 0);*/
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .cantidad
                    .cantidadtexto{ 
    color:rgb(71, 71, 71);    
    margin: 30%, 5%, 10%, 0%;
    font-style: italic;
    font-size: 75%;

}


                                 
.contenedor-gral 
.contenedor-productos 
    .bloqueProducto 
        .bloqueSuperiorProducto
            .columnaCantidad
                .preciounidad{
    position: relative;
    bottom: 10px;
    left: 25%;
    font-weight: lighter;
}

.contenedor-gral 
.contenedor-productos 
    .bloqueProducto 
        .bloqueSuperiorProducto
            .columnaCantidad
                .preciounidad p{
        font-size: 70%;
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .precio{
    width: 10%;
    justify-content: right; 
    margin: 10% 5% 10%;
    font-weight: bolder;
    color: #AD1457;

}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .precio p{
    position: relative;
    right: 35%;
    font-size: 2vh;
    

}

.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .cantidad
                    .input-group-field{ /*Botón - campo*/
    margin: 15%;
    width: 70%;
    justify-content: center;
    text-align: center;
    background-color: #AD1457;
    border-radius: 5px;
    border-color: rgb(227,81,131);
    color: white;
       
}
                    
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .precio{    /* =subdivisión de cada bloque de producto*/
     
    padding: 5% 1.5% 5%     ; 
    /*border: 1px dashed rgb(0, 255, 85);*/
}

.contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto{
    display: flex;
    justify-content: space-evenly;
    padding: 0% 20% 5% 5%;
    color: rgb(71,71,71);
    font-weight: lighter;
    
}
.contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto
                a{
    font-size:9px;
    text-decoration: none;
    color:rgb(120,0,46)
}
.contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto :hover{ /*"eliminar", "modificar", y "ver otros.." en negrita al pasar el mouse.*/
    font-weight: bold;
}
.contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto :focus{ /*"eliminar", "modificar", y "ver otros.." en negrita al pasar el mouse.*/
    font-weight: bold;
}

.lineaSuma{
    width: 90%;
    padding:0px 10% 0px 50%

}
.contenedor-gral
    .contenedor-productos
        .bloqueSuma {   /* = contenedor de producto - bloque de suma*/
    display: flex;
    flex-direction: column;    
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin:auto;
    position: relative;
    
}


.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .envio{
    display: flex;
    position: relative;
    right: 5vw;
    text-align: right; 
    margin: 3% 5% 3%;
    padding:0 0px 0 0 ;
    font-weight: bolder;
    color: rgb(71,71,71);
}
.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .envio
                .envio-leyenda{
    display: flex;
    justify-content: end;
    width: 90%;
    text-align: right;
                }

                .contenedor-gral 
                .contenedor-productos
                    .bloqueSuma 
                        .envio
                            .envio-precio{
                width: 10%;
                text-align: right;
                            }

.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .envio{
    display: flex;
    text-align: right; 
    margin: 3% 5% 3%;
    padding:0 0px 0 0 ;
    font-weight: bolder;
    color: rgb(164, 164, 164);
}
.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .envio
                .envio-leyenda{
    width: 80%;
    text-align: right;
    font-style: italic;
                }

.contenedor-gral 
.contenedor-productos
    .bloqueSuma 
        .envio
            .envio-precio{
width: 20%;
text-align: right;
font-style: italic;
            }
.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .total{
    display: flex;
    text-align: right; 
    margin: 3% 5% 3%;
    padding:0 0 30% 0 ;
    font-weight: bolder;
    
    color: rgb(21, 182, 45);
}
.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .total
                .total-leyenda{
    width: 80%;
    text-align: right;
    font-size: 2vh;
}

.contenedor-gral 
            .contenedor-productos
                .bloqueSuma 
                    .total
                        .total-precio{
            width: 20%;
            text-align: center;
            font-size: 2vh;
}


/*  
.bloqueInferior{ 
   
}*/






/*----------------------------------tomado del trabajo individual para recomendedados------*/

/****************** hasta aquí reocmendados**************/
/********BOTON FINALIZAR COMPRA********************/
.bloqueSuma .continuarCompra{
    display: flex;
    position:absolute;
    right:15px;
    justify-content: right;
    text-align: center;
    width: 80%;
    
}
.continuarCompra button:hover {
    background-color: rgb(120,0,46);
    color:white ;
    box-shadow: 1px 1px 1px 1px rgba(23, 0, 157, 0.2);
}

button{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80%;
    position: relative;
    right: 2vh;
    padding :5px;
    border-radius: 1vh;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.748);
    background-color: rgb(173,20,87);

    
}
button:hover{
   
    border-radius: 1vh;
    box-shadow: 1px 1px 1px 1px #c6c6c6;
    cursor:pointer
    
}
button p{
    font-weight:500;
}

/** media queries **/

@media (min-width: 425px) {

p {
   font-size: 2vh;
}
.contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto
                a{
    font-size: 1.8vh;
    color:rgb(120,0,46)
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .precio p{
    font-size: 2vh;
    
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .color p{ 
    
    font-size: 10px;
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .talle p{   
            font-size: 10px;
    }
}
/*******BREAK INTERMEDIO*******/
@media (min-width: 500px){
   /* h1 {
      font-size: 16px;
    }*/
    p {
      font-size: 2.5vh;
    }
    
    .contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto
                a{
    font-size:2vh;
    color:rgb(120,0,46)
    }
    .contenedor-gral 
        .contenedor-productos 
            .bloqueProducto 
                .bloqueSuperiorProducto
                    .precio p{
        font-size: 3vh;
                    

    }
    .contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .color p{ 
    
    font-size: 13px;
}
    .contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .talle p{   
            font-size: 13px;
    }
    .contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .cantidad
                    .input-group-field{ /*Botón - campo*/
    height : 30px;
       
}
    .contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .columnaCantidad
                    .preciounidad p{
            font-size: 12px;
           
    }
    
.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .total
                .total-leyenda{
    width: 80%;
    text-align: right;
    font-size: 3vh;
}

.contenedor-gral 
            .contenedor-productos
                .bloqueSuma 
                    .total
                        .total-precio{
            width: 20%;
            text-align: center;
            font-size: 3vh;
}
.bloqueSuma .continuarCompra{
    
    right:5vh;
    
    width: 50%;
    margin: 10px;
}
.continuarCompra button:hover {
    background-color: rgb(120,0,46);
    color:white ;
    box-shadow: 1px 1px 1px 1px rgba(23, 0, 157, 0.2);
}

button{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80%;
    height: 45px;
    position: relative;
    right: 3vh;
    padding :5px;
    border-radius: 1vh;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.748);
    background-color: rgb(173,20,87);

    
}
button p{
    position: relative;
    top: 3px;
    font-weight: bolder;
}
}

@media (min-width: 769px) {
    h1 {
        font-size: 50%;
    }
    p {
        font-size: 3vh;
    }
    .contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto
                a{
    font-size:2vh;
    color:rgb(120,0,46)
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .precio p{
    font-size: 3vh;
    
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .color p{ 
    
    font-size: 15px;
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .talle p{   
            font-size: 15px;
    }
.contenedor-gral 
.contenedor-productos 
    .bloqueProducto 
        .bloqueSuperiorProducto
            .columnaCantidad
                .preciounidad{
    position: relative;
    bottom: 20px;
    left: 25%;
    font-weight: lighter;
}

.contenedor-gral 
.contenedor-productos 
    .bloqueProducto 
        .bloqueSuperiorProducto
            .columnaCantidad
                .preciounidad p{
        font-size: 15px;
}
.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .total
                .total-leyenda{
    width: 80%;
    text-align: right;
    font-size: 4.5vh;
}

.contenedor-gral 
            .contenedor-productos
                .bloqueSuma 
                    .total
                        .total-precio{
            width: 20%;
            text-align: center;
            font-size: 4.5vh;
}

.continuarCompra button:hover {
    background-color: rgb(120,0,46);
    color:white ;
    box-shadow: 1px 1px 1px 1px rgba(23, 0, 157, 0.2);
}

button{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80%;
    height: 45px;
    position: relative;
    right: 4vh;
    padding :5px;
    border-radius: 1vh;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.748);
    background-color: rgb(173,20,87);

    
}
}

@media (min-width: 1024px) {
    h1 {
        font-size: 60%;
    }
    h3{
        font-size: 30px;
    }
    p {
        font-size: 3.5vh;
    }
    .contenedor-gral
    .contenedor-productos
        .bloqueProducto
            .bloqueInferiorProducto
                a{
    font-size:3vh;
    color:rgb(120,0,46)
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .precio p{
    font-size: 4vh;
    
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .modelo p{ 
    
    font-size: 22px;
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .color p{ 
    
    font-size: 20px;
}
.contenedor-gral 
    .contenedor-productos 
        .bloqueProducto 
            .bloqueSuperiorProducto
                .descripcion
                    .talle p{   
            font-size: 20px;
    }
.contenedor-gral 
.contenedor-productos 
    .bloqueProducto 
        .bloqueSuperiorProducto
            .columnaCantidad
                .preciounidad{
    position: relative;
    bottom: 20px;
    left: 25%;
    font-weight: lighter;
}

.contenedor-gral 
.contenedor-productos 
    .bloqueProducto 
        .bloqueSuperiorProducto
            .columnaCantidad
                .preciounidad p{
        font-size: 15px;
}
.contenedor-gral 
    .contenedor-productos
        .bloqueSuma 
            .total
                .total-leyenda{
    width: 80%;
    text-align: right;
    font-size: 4.5vh;
}

.contenedor-gral 
            .contenedor-productos
                .bloqueSuma 
                    .total
                        .total-precio{
            width: 20%;
            text-align: center;
            font-size: 4.5vh;
}

.continuarCompra button:hover {
    background-color: rgb(120,0,46);
    color:white ;
    box-shadow: 1px 1px 1px 1px rgba(23, 0, 157, 0.2);
}

button{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80%;
    height: 60px;
    position: relative;
    right: 4vh;
    padding :5px;
    border-radius: 1vh;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.748);
    background-color: rgb(173,20,87);

    
}
.recomendados{
    margin-bottom: 20vh;
}
}