/** main**/

main.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main.container p {
    margin-top: 15px;
    display: flex;
}

p.filter a:link {
        text-decoration: none;
        color: black;
        display: block;
        text-align: justify;
        text-decoration: none;
}



p.products {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card-prod {
    background-color: #fff;
    margin: 10px 0px;
    display: flex;
    width: 90%;
}

.card-prod img {
    width: 90%;
    height: auto;
}

.card-prod .foto-prod {
    width: 50%;
    box-sizing: border-box;
}

.card-prod .main-article {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 10px;
}

p.name {
    font-size: 16px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #AD1457;
}


p.text-top {
    font-size: 14px;
    border-bottom: solid 1px grey;
    display: flex;
    justify-content: space-between;
}

.shoe-size {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p.size {
    font-size: 12px;
    background-color: #AD1457;
    color: white;
    border-radius: 50%;
    box-sizing: border-box;
    width: 15%;
    padding: 3px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
}

button.size{
    background-color: #AD1457;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 1px;
    padding: 5px;
    border-radius: 90px;
    width: 100%; 
}
button.size span{
    font-size: 12px;
}

button.submit {
    background-color: #AD1457;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 1px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

button:focus {
    background-color: whitesmoke;
    color: #AD1457;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

article.product-specification{
    width: 100%;
}

.card-specification {
    background-color: #fff;
    margin: auto;
    display: flex;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

h3.title-specification {
    font-weight: bolder;
    margin-bottom: 10px;
}

div.card-specification p.air-max {
    margin-left: 10px;
    position: relative;
    margin-top: 2px;
    text-size-adjust: 16px;
    padding-bottom: 10px;
}

.column{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px lightgray;
}

article.specifications{
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.title-specification {
    font-size: 14px;
    font-weight: 600;
}

section .recommended{
    display: flex;
    flex-direction: column;
    margin: 2% 2% 2% 10%;
    text-align: center;
}
section .recommended .recomendados p{
    font-size: 12;
}
h3.recommended {
    text-align: center;
}
.recommended{
    display:flex; 
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10vh;
}

article.detalles{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.product-detalle {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 10px 0;
}

.product-detalle img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ebebeb;
    
}

.product-detalles2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

.product-detalles2 p{
    text-align: center;
    margin-bottom: 10px;
}

.product-price {
    color:#AD1457;
}


.product-detalle-airforce{
    display: none;
}


section.recommended article .product-detalles2 i {
    display: block;
    font-size: 12px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    top: -100px;
    transition: all, 500ms;
}
.product-detalles2:hover i {
    transform: rotate(-90deg);  
}
.card-body .descripciones{
    visibility: hidden;
}
.card-body:hover .descripciones {       
    visibility: visible;        
}


section.recommended article {
    margin: 10px 0px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

section.recommended article img {
    width: 100%;
    height: auto;
}


section.recommended article a i {
    display: block;
    font-size: 10px;
    padding: 5px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    left: -10px;
    top: -8px;
    color: black;
}

.card-product {
    box-sizing: border-box;
    margin: 12px;
}

h3.recommended {
    font-weight: bolder;
    margin-bottom: 10px;
}

footer{
 
    background-color:#78002e;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;

}

.footer-left{
    display: flex;
    width: 35%;

}
.footer-left .logo img{
    width: 100%;
}
.footer-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 40%;
}
.footer-center .footer-info {
    border-bottom: 1px solid #fff;
    opacity: 0.8;
}
.footer-center a {
    text-decoration: none;
}

.footer-center p{
    margin: 3px;
    color: #fff;
    opacity: 0.8;
    font-weight: lighter;

}

.footer-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15%;
    align-items: center;
}

.footer-right i{
    color: #e35183;
    font-size: 16px;
    padding: 2px;

}
.footer-info .info-extra{
    display: none;
}

/** media queries **/

@media (min-width: 425px) {

    .card-prod{
        margin-bottom: 40px;
    }


    .size span{
        font-size: 14px;
    }


    button.submit {
        background-color: #AD1457;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 15px 2px;
        padding: 10px;
        border-radius: 10px;
    }

    button {
        transition-duration: 0.4s;
    }

    button:focus {
        background-color: whitesmoke;
        color: #AD1457;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
    }

section.recommended article .product-detalles2 i {
        display: block;
        font-size: 12px;
        padding: 5px;
        width: 30px;
        height: 30px;
        position: relative;
        left: 50%;
        top: -100px;
        transition: all, 500ms;
    }

section.recommended article .product-detalles2 i {
        transition-duration: 0.4s;
    }

 section.recommended article .product-detalles2 i:focus {
        color: #78002e;
    }

    p.air-max {
        margin: 10px;
        position: relative;
        margin-top: -2px;
        padding-bottom: 70px;        
    }
  
    .row{
        display: flex;
        justify-content: flex-end;
        justify-self: end;
    }

    .column{
        width: 50%;
        padding-left: 15px;
        padding-bottom: 35px;
    }

    .card{
        width: 50%;
        height: auto;
        display: flex;
        margin-bottom: 5vh;
        
    }

    .product-img{
        width: 100%;
        height: auto;
    }

section.recommended article {
        margin: 10px 0px;
        width: 45%;
        display: flex;
        flex-direction: row;
    }

    article.detalles{
        width: 45%;
        display: flex;
        flex-direction: row;
    }

    .footer-main
    .footer-left
    .logo img {
        width: 100%;
    }
}




@media (min-width: 768px) {


    main.container p {
        margin-top: 15px;
        display: flex;
        font-size: 14px;
    }

    .card-prod .main-article {
        width: 50%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    p.name {
        font-size: 24px;
    }

    .price {
        font-size: 20px;
        font-weight: bold;
        color: #AD1457;
    }

    p.text-top {
        font-size: 20px;
        border-bottom: solid 1px grey;
        display: flex;
        justify-content: space-between;
    }

    .size span{
        font-size: 14px;
    }


    button.sumbit {
        background-color: #AD1457;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 15px 2px;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    button {
        transition-duration: 0.4s;
    }

    button:hover {
        background-color: whitesmoke;
        color: #AD1457;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
    }

section.recommended article .product-detalles2 i {
        display: block;
        font-size: 12px;
        padding: 5px;
        width: 30px;
        height: 30px;
        position: relative;
        left: 50%;
        top: -100px;
        transition: all, 500ms;
    }

    section.recommended article {
        margin: 10px 0px;
        width: 23%;
        display: flex;
        flex-direction: row;
    }

section.recommended article .product-detalles2 i {
        transition-duration: 0.4s;
    }

section.recommended article .product-detalles2 i:focus {
        color: #78002e;
    }

    .card-description {
        background-color: #fff;
        margin: auto;
        display: flex;
        position: relative;
        margin-top: 80px;
        margin-bottom: 90px;
        width: 100%;
    }

    h3.title{
        font-size: 20px;
    }
    .air-max{
    font-size: 16px;
    }

    h4{
        font-size: 24px;
    }
    .row{
        display: flex;
        justify-content: flex-end;
        justify-self: end;
        margin-bottom: 80px;
    }

    .column{
        padding-bottom: 90px;
        padding-top: 90px;
    }

    .card{
        width: 25%;
        height: auto;
        display: flex;
        margin-bottom: 5vh;
        
    }

    h3.recommended {
        font-weight: bolder;
        margin-bottom: 10px;
        font-size: 18px;
    }

section.recommended article {
        margin: 10px 0px;
        width: 23%;
        display: flex;
        flex-direction: row;
    }

    article.detalles{
        width: 23%;
        display: flex;
        flex-direction: row;
    }

    .footer-main
    .footer-left
    .logo img {
        width: 60%;
    }
}



@media (min-width: 1200px) {

    main.container p {
        margin-top: 15px;
        display: flex;
        font-size: 18px;
    }


    .size{
        background-color: #AD1457;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 10px 1px;
        padding: 15px;
        border-radius: 90px;
        width: 100%; 
    }

    button.submit {
        background-color: #AD1457;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 1px;
        padding: 15px;
        border-radius: 50px;
        width: 100%;
    }

    h3.title-specification{
        font-size: 20px;
    }

    h4.title-specification{
        font-size:20px;
    }

    h3.recommended {
        font-weight: bolder;
        margin-bottom: 10px;
        font-size: 20px;

    }

section.recommended article .product-detalles2 i {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        position: relative;
        left: 48%;
        top: -115px;
        transition: all, 500ms;
    }

section.recommended article .product-detalles2 i {
        transition-duration: 0.4s;
    }

.product-detalles2 i:focus {
        color: #78002e;
    }

    article.detalles{
        display: flex;
        flex-direction: row;
        width: 23%;
    }
    .product-detalle {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        margin: 10px 0;
    }

    .product-detalle-airforce{
        display: contents;
    }

section.recommended article {
        margin: 10px 0px;
        width: 20%;
        display: flex;
        flex-direction: row;
    }

article.detalles .product-detalle-airforce{
width: 15%;
display: flex;
flex-direction: row;
}
.product-detalle-airforce {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 10px 0;
}

.product-detalle-airforce img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ebebeb;
    
}

.product-detalles2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

.product-detalles2 p{
    text-align: center;
    margin-bottom: 10px;
}

.product-price {
    color:#AD1457;
}

footer{
    height: 100px;
        }
        .footer-right{
            width: 15%;
                }
        .footer-left{
    width: 25%;
        }
        .footer-left .logo{
        display: flex;
        justify-content: center;
        }
        .footer-center{
            width: 60%;
            flex-direction: row;
        justify-content: space-evenly;
        }
    .footer-center p {
        text-transform: uppercase;
        
    }
    .footer-center .footer-info{
        border-bottom: none;
    }
    
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    
        .footer-info .info-extra{
            display: flex;
        }
        .info-extra p{
            border: none;
            text-transform:none;
        }

}