
h2.cart{
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: #AD1457;
    font-weight: bolder;
    margin: 15px;
}

.contenedor-gral{ /*= contenedor gral del body*/    
    display: flex;
    flex-direction: column;
}

.contenedor-titular { /*contenedor del título*/
    font-size: 4vw;
    color: rgb(71, 71, 71);
    text-align: center;
    padding: 3vw;   
}

.contenedor-productos{
    
    justify-content: center;
    text-align: center;
}
.carrito{
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}
.fa-cart-shopping{
    font-size: 6vh;
    color:#AD1457
}
.fa-truck{
    font-size: 2vh;
    
}
.cajaPadding{
    display: flex;
    flex-direction: column;
    margin: 2% 2% 2% 2% ;

}

.bloqueProducto {   /* = contenedor de cada producto */
    display: flex;    
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin:auto;
    /*border: 1px dashed blue;*/
}

.linea{ /*= linea horizontal*/
    width: 90%;
    margin:0px 20px 0px 20px
}

.bloqueSuperiorProducto{    /* =subdivisión de cada bloque de producto*/
    width: 100%;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-left: 8%;*/
    /*border: 1px dashed violet;*/
}
.foto{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    width: 40%;
                    margin: 20px 5px 0 5px;
                }

.foto-producto{
    display: flex;
    margin-top: 10%;
    text-align : center;
    justify-content: center;
    max-width: 70%;
    max-height: 70%;
    padding: 0, 0px, 0, 0px;

}

.descripcion{    /* =descripción del producto*/
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 20% ;
    justify-content: space-around;
    text-align: left;    
    padding: 10% 1.5% 10% 1.5%     ; 
    /*border: 1px dashed rgb(0, 106, 255);*/
}

.modelo{
    margin-bottom: 10px;
    font-weight: bolder ;
    font-size: 90%;
    color:rgb(71, 71, 71)
    
}

.color p{ 
    color:rgb(71, 71, 71)   ;
    font-size: 9px;
}

.talle p{   
    color:rgb(71, 71, 71) ;
    font-size: 9px;
}

.columnaCantidad{
    display : flex ;
    width: 20%;
    flex-direction: column;
    padding: 30%, 0, 30%, 0;
}

.cantidad{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding:  62% 1.5% 2% 0%;
    
}

.cantidadtexto{ 
    color:rgb(71, 71, 71);    
    margin: 30%, 5%, 10%, 0%;
    font-style: italic;
    font-size: 65%;

}

.preciounidad{
    position: relative;
    bottom: 10px;
    left: 5%;
    font-weight: lighter;
}

.preciounidad p{
        font-size: 70%;
}

.precio{
    width: 10%;
    justify-content: right; 
    margin: 10% 5% 10%;
    font-weight: bolder;
    color: #AD1457;
    display: flex;
    justify-content: center;
    align-items: center;

}

.precio p{
    position: relative;
    right: 35%;
    font-size: 2vh;
    

}

.input-group-field{ /*Botón - campo*/
    margin: 15%;
    width: 70%;
    justify-content: center;
    text-align: center;
    background-color: #AD1457;
    border-radius: 5px;
    border-color: rgb(227,81,131);
    color: white;
       
}
                    
.precio{    /* =subdivisión de cada bloque de producto*/
     
    padding: 5% 1.5% 5%     ; 
    /*border: 1px dashed rgb(0, 255, 85);*/
}

.bloqueInferiorProducto{
    display: flex;
    justify-content: space-evenly;
    padding: 0% 20% 5% 5%;
    color: rgb(71,71,71);
    font-weight: lighter;
    
}

.bloqueInferiorProducto a{
    font-size:9px;
    text-decoration: none;
    color:rgb(120,0,46)
}

.bloqueInferiorProducto :hover{ /*"eliminar", "modificar", y "ver otros.." en negrita al pasar el mouse.*/
    font-weight: bold;
}

.bloqueInferiorProducto :focus{ /*"eliminar", "modificar", y "ver otros.." en negrita al pasar el mouse.*/
    font-weight: bold;
}

.lineaSuma{
    width: 90%;
    padding:0px 10% 0px 50%

}

.bloqueSuma {   /* = contenedor de producto - bloque de suma*/
    display: flex;
    flex-direction: column;    
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin:auto;
    position: relative;
    
}

.envio{
    display: flex;
    position: relative;
    right: 2vw;
    text-align: right; 
    margin: 3% 5% 3%;
    padding:0 0px 0 0 ;
    font-weight: bolder;
    color: rgb(71,71,71);
}

.envio-leyenda{
    display: flex;
    justify-content: end;
    width: 90%;
    text-align: right;
                }

.envio-precio{
                width: 20%;
                text-align: right;
                margin-top: 2px;
                text-align: right;
                font-style: italic;
                            }

.envio{
    display: flex;
    text-align: right; 
    margin: 3% 5% 3%;
    padding:0 0px 0 0 ;
    font-weight: bolder;
    color: rgb(164, 164, 164);
}

.envio-leyenda{
    width: 80%;
    text-align: right;
    font-style: italic;
                }


.total{
    display: flex;
    text-align: right; 
    margin: 3% 5% 3%;
    padding:0 0 30% 0 ;
    font-weight: bolder;
    
    color: rgb(21, 182, 45);
}

.total-leyenda{
    width: 80%;
    text-align: right;
    font-size: 2vh;
}

.total-precio{
            width: 20%;
            text-align: center;
            font-size: 2vh;
}







/*----------------------------------tomado del trabajo individual para recomendedados------*/
.art-recomendados{
    
    padding: 10px;
}
section .recommended{
    display: flex;
    flex-direction: column;
    margin: 2% 2% 2% 10%;
    text-align: center;
}
section .recommended .recomendados p{
    font-size: 12;
    
}
p .product-price {
    color:#AD1457;
}
h3 {
    text-align: center;
}
.recommended{
    display:flex; 
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10vh;
}
.recomendados{
    display:flex; 
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 10px 0;
}

.product img {
    width: 20em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-bottom: 1px solid #ebebeb;

    
}
.product-foto{
    display: flex;
    justify-content: center;
}
.product-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

.product-detail p{
    text-align: center;
    margin-bottom: 10px;
}

.product-price {
    text-align: center;
    margin-bottom: 10px;
    color:#AD1457;
}
/****************** hasta aquí reocmendados**************/
/********BOTON FINALIZAR COMPRA********************/
.bloqueSuma .continuarCompra{
    display: flex;
    position:absolute;
    right:15px;
    justify-content: right;
    text-align: center;
    width: 60%;
    
}

button.finalizar {
    background-color: #AD1457;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 1px;
    padding: 5px;
    border-radius: 50px;
    width: 100%;
    position: relative;
    right: 2vh;
}

button.finalizar:hover  {
    background-color: whitesmoke;
    color: #AD1457;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    cursor:pointer
}
button.finalizar p{
    font-weight:500;
}

/** media queries **/

@media (min-width: 425px) {

p.cart {
   font-size: 2vh;
}

h2.cart {
    font-size: 20px;
    
}
.cantidadtexto p.cart{  
    font-size: 2vh;
}
.preciounidad p{
    font-size: 80%;
   
}
.bloqueInferiorProducto
                a{
    font-size: 1.5vh;
    color:rgb(120,0,46)
}

.precio p{
    font-size: 2vh;
    
}

.color p{ 
    
    font-size: 10px;
}

.talle p{   
            font-size: 10px;
    }
}
/*******BREAK INTERMEDIO*******/
@media (min-width: 500px){
    .fa-cart-shopping{
        font-size: 6vh;
    }
    p.cart {
      font-size: 2vh;
    }
    p.product-price {
        font-size: 2vh;
    }
    h2.cart {
        font-size: 22px;
        
    }
    .bloqueInferiorProducto
    a{
    font-size:1.5vh;
    color:rgb(120,0,46)
    }
    .cajaPadding{
        margin: 5% 10% 5% 10% ;
    }
    .precio p{
        font-size: 1.8vh;
                    

    }
    .color p{    
    font-size: 12px;
    }
    .talle p{   
            font-size: 12px;
    }
    .input-group-field{ /*Botón - campo*/
    height : 30px;
    }
    .preciounidad p{
            font-size: 80%;
           
    }
    .envio-precio{
        margin-top: 5px;
                    }
    .fa-truck{
        font-size: 3vh;
    }
    
    .total-leyenda{
    width: 80%;
    text-align: right;
    font-size: 3vh
    }

    .total-precio{
            width: 20%;
            text-align: center;
            font-size: 3vh;
        }
    .continuarCompra{
     display: flex;
     position:absolute;
     right:15px;
     justify-content: right;
     text-align: center;
      width: 80%;
    }

    button.finalizar {
        background-color: #AD1457;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 10px 1px;
        padding: 5px;
        border-radius: 50px;
        width: 50%;
        position: relative;
        right: 6vh;
    }

    button:hover .finalizar {
        background-color: whitesmoke;
        color: #AD1457;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
        cursor:pointer
    }
    button.finalizar p{
        font-weight:500;
    }
}

@media (min-width: 769px) {
    
    h2.cart {
        font-size: 24px;
        
    }
    p.cart {
        font-size: 3vh;
    }
    p.product-price {
        font-size: 3vh;
    }
    .bloqueInferiorProducto
                a{
    font-size:2vh;
    color:rgb(120,0,46)
    }
    .precio p{
    font-size: 3vh;
    }
    .color p{ 
    
    font-size: 15px;
    }
    .talle p{   
            font-size: 15px;
    }
    .preciounidad{
    position: relative;
    bottom: 20px;
    right: 30%;
    font-weight: lighter;
    }

    .preciounidad p{
        font-size: 15px;
    }
    
    .total-leyenda{
        width: 80%;
        text-align: right;
        font-size: 4.5vh;
    }

    .total-precio{
            width: 20%;
            text-align: center;
            font-size: 4.5vh;
        }
    .titularRecomendados{
        padding-top: 30px;
    }
    .art-recomendados{
    
        min-width: 34%;
    }
}

@media (min-width: 1200px) {
  
    h2.cart {
        font-size: 28px;
        
    }
    

    .bloqueInferiorProducto a{
    font-size:3vh;
    color:rgb(120,0,46)
    }
    .precio p{
    font-size: 4vh;
    }
    .modelo p{     
    font-size: 22px;
    }
    .color p{ 
    font-size: 20px;
    }
    .talle p{   
            font-size: 20px;
    }
    .preciounidad{
         position: relative;
         bottom: 20px;
         font-weight: lighter;
    }

    .preciounidad p{
        font-size: 15px;
    }
    .envio-precio{
        width: 18%;
    }
    .total-leyenda{
         width: 80%;
         text-align: right;
         font-size: 4.5vh;
    }

    .total-precio{
            width: 20%;
            text-align: center;
            font-size: 4.5vh;
    }
    button.finalizar {
        position:relative;
        right: 10%;
    }

    .recomendados{
         margin-bottom: 20vh;
    }
    .info-extra p{
            border: none;
            text-transform:none;
        }
    .art-recomendados{
    
            min-width: 24%;
        }
}