/* MEDIA QUERYS

- MOBILE -L: 425px 
- TABLET - : 768px
- NOTEBOOK : 1200px


/*PALETA DE COLORES*/
:root{
    --Primario:      rgb(173,20,87);
    --Claro:         rgb(227,81,131);
   --Oscuro:        rgb(120,0,46);
    --Tipografía1:   rgb(71,71,71);

}
/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;

}

body {
    background-color: white;
    
}
.caja
{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    max-width: 1200px;
}
/*HEADER********************************************************/
header {
    background-color: #AD1457;
  
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}



.main {
    margin: 0 auto;
    display: block;
    height: 100%;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 42px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #e35183 0%, #78002e 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 15px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #78002e;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo img{
    width: 120px;
}

.iconos-carrito-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconos-carrito-perfil i {
    margin: 4px;
}

p.loggedComputer {
    display: none;
}
.navbar-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 20px;
    background-color: #e35183;
    padding-left: 5px;
}
.barra-de-busqueda{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2px;
}
.barra-de-busqueda input{
    height: 15px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    background-color: #e35183;
    outline: none;

}

.barra-de-busqueda input::placeholder{
        color:#78002e;
}

.navbar i {
    color: #78002e;
    font-size: 15px;

}
.barra-de-busqueda i{
    font-size: 12px;

}




/*****************FOOTER************/

footer{
 
    background-color:#78002e;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;

}

.footer-left{
    display: flex;
    width: 35%;
    justify-content: center;

}
.footer-left .logo img{
    width: 120px;
}
.footer-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 40%;
}
.footer-center .footer-info {
    border-bottom: 1px solid #fff;
    opacity: 0.8;
}
.footer-center a {
    text-decoration: none;
}

.footer-center p{
    margin: 3px;
    color: #fff;
    opacity: 0.8;
    font-weight: lighter;

}

.footer-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15%;
    align-items: center;
}

.footer-right i{
    color: #e35183;
    font-size: 16px;
    padding: 2px;

}
.footer-info .info-extra{
    display: none;
}

/** media queries **/

@media (min-width: 425px) {

    .sidebarIconToggle{
        display: none;
    }

    p.loggedComputer {
        color: white;
        display: block;
    }
   
    .logo img{
        width: 135px;
        align-items: center;
    }

    .navbar-bottom {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 30px;
        background-color: #e35183;
        padding-left: 5px;
    }
    .barra-de-busqueda{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 2px;
    }
    .barra-de-busqueda input{
        height: 20px;
        width: fit-content;
        border-radius: 5px;
        border: none;
        padding-left: 5px;
        background-color: #e35183;

    }

    .barra-de-busqueda input::placeholder{
            color:#78002e;
    }

    .navbar i {
        color: #78002e;
        font-size: 15px;

    }


 
    .footer-main
    .footer-left
    .logo img {
        width: 135px;
    }
}



@media (min-width: 768px) {

    .logo img{
        width: 150px;
        align-items: center;
    }

    .navbar-bottom {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 30px;
        background-color: #e35183;
        padding-left: 5px;
    }
    .barra-de-busqueda{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 2px;
    }
    .barra-de-busqueda input{
        height: 20px;
        width: fit-content;
        border-radius: 5px;
        border: none;
        padding-left: 5px;
        background-color: #e35183;

    }

    .barra-de-busqueda input::placeholder{
            color:#78002e;
    }

    .navbar i {
        color: #78002e;
        font-size: 15px;

    }

    .footer-main
    .footer-left
    .logo img {
        width: 150px;
    }
}

@media (min-width: 1200px){
    footer{
height: 90px;
    }
    .footer-right{
        width: 15%;
            }
    .footer-left{
width: 25%;
display: flex;
justify-content: center;
    }
    .footer-left .logo{
    display: flex;
    justify-content: center;
    }
    .footer-center{
        width: 60%;
        flex-direction: row;
    justify-content: space-evenly;
    }
.footer-center p {
    text-transform: uppercase;
    
}
.footer-center .footer-info{
    border-bottom: none;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

    .footer-info .info-extra{
        display: flex;
    }
    .info-extra p{
        border: none;
        text-transform:none;
    }
}